body {
	font-family: Tahoma;
	font-size: 14px;
}

header {
	height: 75px;
	margin-bottom: 5px;
}

#nav {
	float: left;
	width: 150px;
	height: calc(100vh - 100px);
	height: -webkit-calc(100% - 88px);
	background-color: aliceblue;
	margin-right: 5px;
	display: inline-block;
}

article {
	display: inline-block;
}

.content {
	margin-bottom: 8px;
}

@media print {
	/*new style sheet specifically for printing here
	whatever i don't override here will use the existing values
	anything i specify here will override the normal settings for printing*/
	#nav {
		visibility:hidden;
		width: 0px;
	}
}