<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://20486qs.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-bay-003.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>20486QS</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$20486QS</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:s8credvyq5.database.windows.net,1433;Initial Catalog=20486QS_db;User ID=QS20486@s8credvyq5;Password=P@ssw0rd" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Conference-20130829101050.mdf;Initial Catalog=aspnet-Conference-20130829101050;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Conference-20130829101050;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Conference-20130829101050.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="Conference.Models.ConferenceDbContext" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:s8credvyq5.database.windows.net,1433;Initial Catalog=20486QS_db;User ID=QS20486@s8credvyq5;Password=P@ssw0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Conference.Models.ConferenceDbContext, Conference" MigrationConfiguration="Conference.Migrations.Configuration, Conference" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Conference.Models.ConferenceDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s8credvyq5.database.windows.net,1433;Initial Catalog=20486QS_db;User ID=QS20486@s8credvyq5;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s8credvyq5.database.windows.net,1433;Initial Catalog=20486QS_db;User ID=QS20486@s8credvyq5;Password=P@ssw0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Conference.Models.ConferenceDbContext" />
  </ItemGroup>
</Project>